.header1{
    justify-content: space-between;
    display: flex;
    background-color: #ebebeb;

}
.header1 > *{
    padding:5px;
    display:flex;
    gap: 20px;
    
}
.header2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header2 > *{
    padding:5px;
    display:flex;
    gap: 20px;
    
}
.header2 a{
    font-size: 20px;
}
.vline{
    border-left: solid .5px black;
}
.header1 a{
    font-size: 13px;
}
a{
    text-decoration: none;
    color: rgb(41, 41, 41);
}
.left-option,.left2{
    margin-left: 7%;
}
.right-option,.right2{

    margin-right: 7%;
}

.logo{
    width: 180px;
    max-height: 25px;
}
.icons{
    width: 50px;
    height: 25px;
}

