.header1{
    justify-content: space-between;
    display: flex;
    background-color: #ebebeb;

}
.header1 > *{
    padding:5px;
    display:flex;
    gap: 20px;
    
}
.header1 a{
    font-size: 13px;
}
a{
    text-decoration: none;
    color: black;
}
.left-option{
    margin-left: 7%;
}
.right-option{

    margin-right: 7%;
}
.logo{
    width: 180px;
}
.header2{

}
